USE [master]
GO
/****** Object:  Database [Assignment3_ThaiQuocHoai]    Script Date: 3/7/2021 9:39:10 PM ******/
CREATE DATABASE [Assignment3_ThaiQuocHoai]
GO
USE [Assignment3_ThaiQuocHoai]
GO
/****** Object:  Table [dbo].[car]    Script Date: 3/7/2021 9:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[car](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [varchar](max) NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[Color] [varchar](max) NOT NULL,
	[Year] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime] NULL CONSTRAINT [DF__car__create_date__6754599E]  DEFAULT (getdate()),
	[Rate] [float] NULL,
	[IdCate] [int] NOT NULL,
 CONSTRAINT [PK__car__3213E83F98BDF5F5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[category]    Script Date: 3/7/2021 9:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CateName] [varchar](max) NOT NULL,
 CONSTRAINT [PK__category__3213E83FCAFC9310] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[discount]    Script Date: 3/7/2021 9:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[discount](
	[IdDiscount] [int] IDENTITY(1,1) NOT NULL,
	[CodeDiscount] [varchar](6) NOT NULL,
	[Precent] [int] NOT NULL,
	[ExperisionDate] [date] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__discount__17513FA4058E139B] PRIMARY KEY CLUSTERED 
(
	[IdDiscount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order]    Script Date: 3/7/2021 9:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [varchar](max) NOT NULL,
	[Phone] [varchar](max) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[DateOrder] [date] NOT NULL CONSTRAINT [DF__order__date_orde__6B24EA82]  DEFAULT (getdate()),
	[UserName] [char](50) NOT NULL,
	[idDiscount] [int] NULL,
	[discountCode] [varchar](50) NULL,
 CONSTRAINT [PK__order__3213E83F4A05ED96] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 3/7/2021 9:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[order_detail](
	[rental_date] [date] NOT NULL,
	[return_date] [date] NOT NULL,
	[id_car] [int] NOT NULL,
	[id_invoice] [int] NOT NULL,
	[car_name] [varchar](max) NOT NULL,
	[color] [varchar](max) NOT NULL,
	[year] [int] NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[rate] [float] NULL,
 CONSTRAINT [PK__order_de__460C3DB260A8FB6C] PRIMARY KEY CLUSTERED 
(
	[id_car] ASC,
	[id_invoice] ASC,
	[rental_date] ASC,
	[return_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/7/2021 9:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [char](50) NOT NULL,
	[Password] [char](50) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Phone] [char](20) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[Role] [bit] NOT NULL,
	[Status] [char](20) NOT NULL,
	[VerifyCode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[car] ON 

INSERT [dbo].[car] ([id], [CarName], [Image], [Color], [Year], [Price], [Quantity], [CreateDate], [Rate], [IdCate]) VALUES (1, N'Mercedes C200', N'https://muaxegiatot.vn/wp-content/uploads/2019/10/gia-xe-mercedes-c200-2020-muaxegiatot-vn.jpg', N'White', 2017, 100, 10, CAST(N'2021-03-04 13:49:00.953' AS DateTime), 0, 1)
INSERT [dbo].[car] ([id], [CarName], [Image], [Color], [Year], [Price], [Quantity], [CreateDate], [Rate], [IdCate]) VALUES (6, N'Mecrcedes C300', N'https://th.bing.com/th/id/OIP.NQmImrh_x4wNvp_FXgoHNQHaEo?w=277&h=180&c=7&o=5&dpr=1.25&pid=1.7', N'Black', 2018, 150, 20, CAST(N'2021-03-04 22:57:24.840' AS DateTime), 0, 1)
INSERT [dbo].[car] ([id], [CarName], [Image], [Color], [Year], [Price], [Quantity], [CreateDate], [Rate], [IdCate]) VALUES (7, N'Mercedes GLC200', N'https://th.bing.com/th/id/OIP.O3UFtqSvMgeTsqBV4MQmcwHaE8?w=262&h=180&c=7&o=5&dpr=1.25&pid=1.7', N'Gray', 2018, 120, 15, CAST(N'2021-03-04 22:57:24.840' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[car] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [CateName]) VALUES (1, N'Mercedes-benz')
INSERT [dbo].[category] ([id], [CateName]) VALUES (2, N'Suzuki')
INSERT [dbo].[category] ([id], [CateName]) VALUES (3, N'Toyota')
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[discount] ON 

INSERT [dbo].[discount] ([IdDiscount], [CodeDiscount], [Precent], [ExperisionDate], [Status]) VALUES (2, N'NEWBIE', 20, CAST(N'2021-03-20' AS Date), 1)
SET IDENTITY_INSERT [dbo].[discount] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([Id], [Fullname], [Phone], [Address], [DateOrder], [UserName], [idDiscount], [discountCode]) VALUES (8, N'Thai Quoc Hoai', N'0917970830', N'Quan 9', CAST(N'2021-03-07' AS Date), N'hoaithaiq123@gmail.com                            ', NULL, NULL)
INSERT [dbo].[order] ([Id], [Fullname], [Phone], [Address], [DateOrder], [UserName], [idDiscount], [discountCode]) VALUES (9, N'Thai Quoc Hoai', N'0917970830', N'Quan 9', CAST(N'2021-03-07' AS Date), N'hoaithaiq123@gmail.com                            ', 2, N'20')
INSERT [dbo].[order] ([Id], [Fullname], [Phone], [Address], [DateOrder], [UserName], [idDiscount], [discountCode]) VALUES (10, N'Thai Quoc Hoai', N'0917970830', N'Quan 9', CAST(N'2021-03-07' AS Date), N'hoaithaiq123@gmail.com                            ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[order] OFF
INSERT [dbo].[order_detail] ([rental_date], [return_date], [id_car], [id_invoice], [car_name], [color], [year], [price], [quantity], [status], [rate]) VALUES (CAST(N'2021-03-07' AS Date), CAST(N'2021-03-08' AS Date), 6, 16, N'Mecrcedes C300', N'Black', 2018, 150, 1, 1, 0)
INSERT [dbo].[order_detail] ([rental_date], [return_date], [id_car], [id_invoice], [car_name], [color], [year], [price], [quantity], [status], [rate]) VALUES (CAST(N'2021-03-05' AS Date), CAST(N'2021-03-06' AS Date), 12, 8, N'Suzuki 1', N'Red', 2015, 70, 1, 1, 5)
INSERT [dbo].[order_detail] ([rental_date], [return_date], [id_car], [id_invoice], [car_name], [color], [year], [price], [quantity], [status], [rate]) VALUES (CAST(N'2021-03-04' AS Date), CAST(N'2021-03-06' AS Date), 12, 9, N'Suzuki 1', N'Red', 2015, 70, 1, 1, 6)
INSERT [dbo].[User] ([UserName], [Password], [Fullname], [Phone], [Address], [CreateDate], [Role], [Status], [VerifyCode]) VALUES (N'hoaithaiq123@gmail.com                            ', N'123456                                            ', N'Thai Quoc Hoai', N'0917970830          ', N'Quan 9', CAST(N'2021-03-04' AS Date), 0, N'Active              ', N'EXWVrM')
INSERT [dbo].[User] ([UserName], [Password], [Fullname], [Phone], [Address], [CreateDate], [Role], [Status], [VerifyCode]) VALUES (N'hoaitqSE140980@fpt.edu.vn                         ', N'123                                               ', N'Hoai', N'1234567891          ', N'Quan 9', CAST(N'2021-03-04' AS Date), 1, N'Active              ', N'RsVKan')
INSERT [dbo].[User] ([UserName], [Password], [Fullname], [Phone], [Address], [CreateDate], [Role], [Status], [VerifyCode]) VALUES (N'test@gmail.com                                    ', N'123456                                            ', N'Thai Quoc Hoai', N'0123456789          ', N'Quan 9', CAST(N'2021-02-03' AS Date), 0, N'Active              ', N'123')
ALTER TABLE [dbo].[car]  WITH CHECK ADD  CONSTRAINT [FK__car__id_category__68487DD7] FOREIGN KEY([IdCate])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[car] CHECK CONSTRAINT [FK__car__id_category__68487DD7]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK__order__UserName__6C190EBB] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK__order__UserName__6C190EBB]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_discount] FOREIGN KEY([idDiscount])
REFERENCES [dbo].[discount] ([IdDiscount])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_discount]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK__order_det__id_ca__6EF57B66] FOREIGN KEY([id_car])
REFERENCES [dbo].[car] ([id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK__order_det__id_ca__6EF57B66]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK__order_det__id_in__6FE99F9F] FOREIGN KEY([id_invoice])
REFERENCES [dbo].[order] ([Id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK__order_det__id_in__6FE99F9F]
GO
USE [master]
GO
